<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand heliosBrand" href="./index.html">H E L I O S</a>
   
    {{#unless user}}
    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#loginModal">Login</button>
    {{/unless}} 
    {{#if user}}
    <form action="/auth/logout" method="GET">
        <button type="submit" class="btn btn-outline-info">Logout</button>
    </form>
    {{/if}}
</nav>
<!--  -->
