<p>This is only a temporary platform for testing. This file can be overwritten or replaced to insert the formatted HTML.</p>
<a href="/register">Register</a>

{{#if messages}}
{{#each messages}}
    <div>{{this}}</div>
{{/each}}
{{/if}}

<h1>Welcome to Helios!</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <button type="submit">Submit</button>
    </form>
</form>

<h2>Login with Facebook or Google</h2>
<a href="/login/facebook"><img src="./assets/images/facebook.png" alt="fb login"></a>
<a href="/login/google"><img src="./assets/images/google.png" alt="google login"></a>
