// Global Colors
$whiteColor: #ffffff;
$grayColor: rgba(255, 255, 255, 0.1);
$BlackColor: #000;
// Box Sizing
* {
    box-sizing: border-box;
}

// Background image
#backgroundImage {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -999;
}